/*Eric Meyer CSS Reset https://meyerweb.com/eric/tools/css/reset/ */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;  
}

/* Fonts */
* {
  font-family: "Press Start 2P", cursive;
}

body {
  font-family: "Press Start 2P", cursive;
  color: black;
  font-size: 16px;
  line-height: 120%;
}

/* Layout*/
html {
  width: 100%;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/133078981/original/19d833f319255a19b7e447c279421c933588ed50/make-2d-animation-game-backgrounds.png");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100% 100%;
}

.canvas-container {
  border: 1px red solid;
  width: 100%;
  height: 100vh;
}

canvas {
  background-image: url(../images/1920x1080.png);
}

.splash {
  display: flex;
  height: 100%;
  margin: 0px auto;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.splash h1 {
  font-size: 48px;
  margin-top: 100px;
  margin-bottom: 60px;
}

.splash button {
  background-color: red;
  text-align: center;
  width: 200px;
  color: white;
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 2px;
  margin-bottom: 20px;
}

.splash h3 {
  margin-top: 200px;
  color: white;
}

#game-over {
  display: flex;
  height: 100%;
  margin: 0px auto;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#restart-game {
  display: inline-block;
  background-color: red;
  text-align: center;
  width: 200px;
  color: white;
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 2px;
  margin-bottom: 20px;
}

#game-over h1 {
  display: inline-block;
  width: 100%;
  font-size: 48px;
  margin-top: 100px;
  margin-bottom: 60px;
}
